body
  margin: auto
  text-align: center
  padding: 50px
  font: 14px "Open Sans", Helvetica, Arial, sans-serif
a
  color: #00B7FF
ul
  list-style-type: none
  width: 300px
  margin: auto
  padding: 0px
li
  display: block
  margin: 5px auto
  padding: 15px 0px
  background-color: #F2F2F2
#new-item-show
  color: #999
  background-color: #eecead
  border-style: none
  width: 270px
  padding: 15px
  font-size: 14px
  margin: 0px auto
#new-item-show:hover
  cursor: pointer
  background-color: #ddbd9c
  color: #777
form
  width: 270px
  margin: 0px auto
  padding: 15px
  background-color: #000
  height: 200px
  display: none
