body {
  margin: auto;
  text-align: center;
  padding: 50px;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
ul {
  list-style-type: none;
  width: 300px;
  margin: auto;
  padding: 0px;
}
li {
  display: block;
  margin: 5px auto;
  padding: 15px;
  background-color: #f2f2f2;
}
